@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
    margin: 0;
    font-family: "Poppins";
    background: #f5f5f5;
    height: 2500px;
}

a {
    text-decoration: none;
}

button {
    font-family: "Poppins";
}

ul {
    list-style: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

/* Header */

.head {
    background: #f4f4f4 url(./img/bg_head.jpg) top center;
    background-position: center 0;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 15px;
    grid-column: 6;
    padding: 20px 0;
    text-align: center;
    line-height: 1rem;
    border-bottom: 1px solid #ddd;

    p {
        letter-spacing: 0.1rem;
        color: #777;
        transition: 0.4s ease;


        &:hover {
            letter-spacing: 0.08rem;
            color: #999;
        }
    }

    img {
        border-radius: 100%;
        width: 140px;
        height: 140px;
        border: 9px solid rgba(0, 0, 0, 0.05);
        object-fit: cover;
        transition: 0.4s ease;
        animation: pulse 2s infinite;
        cursor: pointer;

        &:hover {
            transform: scale(105%);
            animation: none;

        }
    }

    button {
        padding: 10px 15px;
        border-radius: 10px;
        border: 1px solid #ddd;
        transition: 0.4s ease;
        cursor: pointer;
        transition-delay: 0.1s;


        &:hover {
            background-color: #ddd;
        }
    }

}

/* Nav */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ddd;


    ul {
        display: flex;
        gap: 55px;


        a {
            font-size: 15px;
            color: #777;
            transition: all 0.2s ease;
            transition-delay: 0.1s;
            padding: 10px 15px;
            text-transform: uppercase;


            &:hover {
                background-color: #ddd;
                border-radius: 10px;

            }
        }

        .dropdown {
            /* background-color: #fff; */
            border-radius: 10px;
            width: max-content;
            margin-top: 10px;
            margin-left: 10px;
            visibility: hidden;
            position: absolute;
            padding: 0 15px;
            left: 10px;
            bottom: -14px;
            /* z-index: 2; */
            text-align: center;
            cursor: pointer;
            transition: all 0.2s;
            color: #ddd;
        }
    }

    .dropdownLink {
        position: relative;
        display: inline-block;

        &:hover {
            span {
                transform: rotate(0);

            }

            .dropdown {
                visibility: visible;
                left: 100px;


            }
        }

        span {
            display: inline-block;
            transform: rotate(90deg);
            transition: all 0.2s;

        }

    }
}


.desc {
    font-size: 1.3125rem;
    font-weight: 300;
    max-width: 1200px;
    text-align: center;
    padding: 15px;
    margin: 50px auto;
}

.section-title {
    text-align: center;

    span {
        display: inline-block;
    }

    &::before {
        display: inline-block;
        content: "";
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        width: 25rem;
        height: 2px;
        margin: 0 1rem;
        transform: translateY(-0.7rem);
    }

    &::after {
        display: inline-block;
        content: "";
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        width: 25rem;
        height: 2px;
        margin: 0 1rem;
        transform: translateY(-0.7rem);
    }
}

.section-title {
    text-align: center;
    font-size: 2.25rem;
    font-weight: 200;
}

/* Skills */
.skills {
    padding: 40px 0;
}

.skill-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    max-width: 500px;
    padding: 20px 0;
    margin: 0 auto;

    img {
        &:nth-child(4) {
            width: 50%;
        }
    }


    img {
        max-width: 20%;
        margin: 0 10px;
        filter: grayscale();
        opacity: 0.5;
    }
}


/* Services */
.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 30px;
}

.section-title {
    grid-column: span 3;
}

.services-item {
    max-height: 400px;
    padding: 15px 25px;
    border-radius: 10px;
    border: 1px solid #ddd;
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
        color: #3a3a3a;
    }

    button {
        padding: 10px 25px;
        width: 100%;
        outline: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px;
        justify-content: center;
        transition: all 0.2s;
        border-radius: 10px;

        &:hover {
            background-color: #e4e4e4;

        }
    }
}

.magnify {
    width: 15px;
    height: 15px;
}

/* Recent */
.recent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 30px;
}

.recent-item {
    padding: 20px 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
        color: #3a3a3a;
        padding: 10px 0;
    }

    a {
        border: none;
        color: #5e5e5e;
        padding: 5px 10px;
        transition: all 0.2s;
        border-radius: 5px;
        cursor: pointer;
        background-color: #e7e7e7;

        &:hover {
            background-color: #ddd;
        }
    }


    img {
        width: 100%;
    }
}


/* Contact */
.contact {
    gap: 0 30px;

    .contact-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .contact-form {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .contact-inputs {
                display: flex;
                gap: 20px;
            }

            button {
                outline: none;
                border: none;
                padding: 10px 15px;
                border-radius: 10px;
                background-color: unset;
                border: 1px solid #ddd;
                cursor: pointer;
                transition: all 0.2s;
                font-size: 14px;
                font-family: 'Poppins';


                &:hover {
                    background-color: #ddd;
                }
            }
        }

        input {
            padding: 10px;
            border: none;
            border-radius: 10px;
            font-size: 14px;
            border: 1px solid #ddd;
            font-family: 'Poppins';
            outline: none;
            background-color: unset;
        }

        textarea {
            border-radius: 10px;
            outline: none;
            background-color: unset;
            border: 1px solid #ddd;
            padding: 15px;
            font-family: 'poppins';
            letter-spacing: 1.5px;
            resize: none;
        }
    }
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;

    .social {
        height: 50px;
    }

    img {
        width: 50px;
        filter: grayscale();
        opacity: 0.5;
        margin: 0 15px;
        cursor: pointer;
        transition: all 0.4s;

        &:hover{
        filter: none;
        }
    }

    p{
        font-size: 14px;
        margin: 50px 0;
        opacity: 0.5;
        color: #999;

        a{
        color: #999;
        transition: all 0.3s;


            &:hover{
                color: #3a3a3a;
            }
        }
    }

}






.container {
    max-width: 1080px;
    margin: 0 auto;
}




@media screen and (max-width: 960px) {
    nav {
        ul {
            gap: 10px;
        }
    }
}




@keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(102, 102, 102, 0.4);
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}